################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BilbiotecaDinamica/bin/Debug/net10.0
/BilbiotecaDinamica/obj/Debug
/.vs
